<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ititeam.tripplannermaster">

    <!-- hanaa section -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- end hanaa section -->
    <!-- bodour section -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- end bodour section -->
    <!-- mark section -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- end mark section -->
    <!-- hesham section -->
    <!-- end hesham section -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"></activity>
        <!-- hanaa section -->
        <activity
            android:name=".activity.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShowTripActivity" />
        <activity android:name=".activity.ShowHistoryActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.FirebaseActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnnxzdQQoISCymOiEmSj3la9SNZ_qF-4E" />
        <!-- end hanaa section -->


        <!-- bodour section -->
        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3dQad9fPAPiDkbhVLFvQ06XRPA7K5rm8" />
        -->

        <activity
            android:name=".activity.AddNewTrip"
            android:label="@string/title_activity_add_new_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UpdateTrip"
            android:label="@string/title_activity_update_trip"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StartTripActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- end boudour section -->


        <!-- mark section -->
        <activity
            android:name=".activity.alarmhandler.AlarmActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>

        <!-- Declare  Alarm Broadcast receiver here -->
        <receiver android:name=".activity.alarmhandler.AlarmReceiver" />

        <!-- Declare  Alarm Notification Service here -->
        <service android:name=".activity.alarmhandler.AlarmNotificationService" />

        <!-- Declare  Alarm Sound Service here -->
        <service android:name=".activity.alarmhandler.AlarmSoundService" />
        <service
            android:name=".activity.alarmhandler.AlarmScheduleService"
            android:exported="false" />
        <!-- end mark section -->


        <!-- hesham section -->
        <activity android:name=".activity.ShowUpcomingTrips" />
        <activity
            android:name=".activity.StartActivityDrawer"
            android:theme="@style/MyMaterialTheme.Base" />

        <!-- end hesham section -->

        <activity android:name=".SplashScreenActivity"
            android:noHistory="true">

        </activity>
    </application>

</manifest>